html, body {
  margin: 0px;
  padding: 0px;
  background-color: #c9d3e2;
  height: 100%;
}

#centralDiv {
  width: 65%;
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
}

.tip {
  margin: 5px;
  padding: 15px;
  width: 150px;
  position: relative;
  background-color: #fffca8;
  float: left;
  box-shadow: 5px 5px 40px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-transition:all 0.2s;
  transition:all 0.2s;
}

.tip: hover {
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.5);
}
