<!DOCTYPE html>
<html ng-app="tooltips">
<head>
	<meta charset="utf-8">
	<title>Tooltips</title>
	<script type="text/javascript" src="..\node_modules\jQuery\dist\jquery.min.js"></script>
	<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
	<script type="text/javascript" src="..\node_modules\angular\angular.min.js"></script>
	<script type="text/javascript" src="build\bundle.min.js"></script>
	<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css\main.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" type="text/css" href="https://code.getmdl.io/1.2.1/material.green-lime.min.css" />
</head>
<body ng-controller="contentCtrl">
	<div id="centralDiv">
  	<div style="width: 100%; margin-top: 100px" class="mdl-textfield mdl-js-textfield">
    	<textarea class="mdl-textfield__input" type="text" rows= "3" id="text" ></textarea>
    	<label class="mdl-textfield__label" for="text">Start to type some text here...</label>
  	</div>

			<button ng-click="update()" style="float: right" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Add tip</button>

		<div class="grid" id="content" style="width: 100%; margin-top: 50px">
			<div class="grid-item" ng-repeat="tip in tips">{{tip.text}}</div>
		</div>
	</div>
</body>
</html>
